@inherits LayoutComponentBase
<div class="container mt-4">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
        <div class="container-fluid">
            <a class="navbar-brand" href="">🏪 Subiekt 123 Demo</a>
            <div class="navbar-nav me-auto">
                <a class="nav-link text-white" href="">Klienci</a>
                <a class="nav-link text-white" href="dokumenty">Dokumenty</a>
                <a class="nav-link text-white" href="produkty">Produkty</a>
                <a class="nav-link text-white" href="auth">Auth</a>
            </div>
            <div class="navbar-nav">
                <a class="nav-link text-success" href="klienci/nowy">+ Klient</a>
                <a class="nav-link text-success" href="dokumenty/nowy">+ Dokument</a>
                <a class="nav-link text-success" href="produkty/nowy">+ Produkt</a>
            </div>
        </div>
    </nav>
    <main>@Body</main>
</div>
